.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.DS_Store
notes.txt
temporal.py
migrations/
app_org.js
# Ignore Jupyter Notebook 
temp/
.log
plantillas de carga/
migrations
migrations_mysql
bdd/
.env