{% extends 'base/dashboard_base.html' %}
{% from 'macros.html' import render_field %}

{% block titulo %}
  Facturación
{% endblock %}

{% block nav_menu %}
  {% include 'nav-menu-facturacion.html' %}
{% endblock %}

{% block dashboard %}
  <div class="row d-flex p-1">
    <div class="col-xl-4 mb-3 visually-hidden formulario" id="">
      <div class="justify-content-center">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="tituloForm" id="">Crear Factura</h4>
            <i class="bx bx-x cerrar-form" type="button"></i>
          </div>
          <div class="card-body">
            <form action="" method="POST" id="facturasClientesForm" data-id="" novalidate>
              <div class="alert alert-warning alert-dismissible fade visually-hidden" role="alert" id="erroresForm">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {{ form.csrf_token }}

              <div class="row">
                {% for f in form %}
                  {{ render_field(f) }}
                {% endfor %}
              </div>

              <button type="submit" class="btn btn-primary w-100 botonForm" id="">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg">
      <div class="justify-content-center">
        <div class="card">
          <div class="card-header d-flex flex-wrap align-items-center justify-content-between gap-3">
            <h3 class="text-primary fw-bold" id="">Facturación Clientes</h3>

            <div class="d-flex flex-wrap align-items-center gap-2 mb-1">
              <!-- Grupo Desde -->
              <div class="d-flex align-items-center gap-2">
                <label for="f-desde" class="fw-bold">Desde:</label>
                <input type="date" class="form-control rounded-1" id="f-desde" />
              </div>


              <!-- Grupo Hasta -->
              <div class="d-flex align-items-center gap-2">
                <label for="f-hasta" class="fw-bold">Hasta:</label>
                <input type="date" class="form-control rounded-1" id="f-hasta" />
              </div>

              <!-- Botones -->
              <div class="d-flex gap-2">
                <button type="button" class="btn btn-primary btn-sm" id="f-filtrar">Filtrar</button>
                <button type="button" class="btn btn-info btn-sm" id="f-limpiar">Limpiar</button>
              </div>
            </div>

          </div>
          <div class="card-body">
            <table class="table" id="facturasClientesTable">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>

                  <!-- Repite esto para cada columna -->
                  <th id=""></th> <!-- Esta será la columna del total -->
                  <th></th>

                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="agregarFacturaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Número de Factura</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="agregarFacturaForm" novalidate>
          <div class="mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="numero-factura" name="factura" placeholder="Ingrese el número de factura" >
              <label for="numero-factura" class="form-label">Número de Factura</label>
            </div>
            

          </div>
          <div class="alert alert-danger visually-hidden" id="errorAgregarFactura"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="guardarNoFacturaBtn">Guardar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block JS %}
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('facturacion.static', filename='js/facturacionTables.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatable-doubleclick.js') }}"></script>
  <script src="{{ url_for('facturacion.static', filename='js/facturacion.js') }}"></script>
{% endblock %}
