<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->

  <link rel="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.min.css">

  <!--<link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">-->


    <!--<link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.3.2/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/b-print-3.2.3/cr-2.1.1/cc-1.0.4/date-1.5.5/fc-5.0.4/fh-4.0.2/r-3.0.4/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.1/datatables.min.css" rel="stylesheet" integrity="sha384-ol/Aqttb/AzBZx56bUfXrOL/1Fp629t7Y7GlvUzao5MlBcGfJuDwhKFBkBgvjnMM" crossorigin="anonymous" />

    <link href="https://cdn.datatables.net/v/dt/moment-2.29.4/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.css" rel="stylesheet" integrity="sha384-aV+g77zap4ZUJRWBaMHG58KpeVJhiC3DXSpjVDYf+UUe88fbs+62hYkv4VOxJOfL" crossorigin="anonymous" /> -->

    <!-- DATATABLES-->
    <link href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css" rel="stylesheet" integrity="sha384-gC2LYLqCExndkNE9hTLhmEXvk8ZgIf42nRengHFbC9uaws2Ho0TW+ENGe4w15AHy" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.dataTables.min.css" rel="stylesheet" integrity="sha384-CEGjJEAUOa45Jz9PQsvKuOUrsy4B/1nuiBPCJWCO8JkPbziwbjZV+vqPsHc1wA7z" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/colreorder/2.1.1/css/colReorder.dataTables.min.css" rel="stylesheet" integrity="sha384-BoHAO1+Cm4MbQ5dK2SooWY0ynsjjABcetMCsLKARvR8c7bESMreZ/j551/hnnK9n" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/columncontrol/1.0.7/css/columnControl.dataTables.min.css" rel="stylesheet" integrity="sha384-xdcwKvh27NneELkNeIDNFb7du2eu/v0eGijwTUliFJ7XfqiCOqKtQmlSWzNi9Jaj" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/datetime/1.5.6/css/dataTables.dateTime.min.css" rel="stylesheet" integrity="sha384-YerHysLtHRSApTDI4rm8VWFCYYmfBxaFWwYtysBUoNAtgL4Kbf04QSepZbpz5wji" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/fixedcolumns/5.0.4/css/fixedColumns.dataTables.min.css" rel="stylesheet" integrity="sha384-hVwUvP9o6t5F4NTn4bygFte7oSFXkYfWMBqENXuJC6xlX2T0lg94klu9D4bHyzUE" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/fixedheader/4.0.3/css/fixedHeader.dataTables.min.css" rel="stylesheet" integrity="sha384-MdjfIsy9elm9qOpK/KXJfYR9PmcQ47vcI0vij5V7nLUOBFvZqPwz0wKJ3q+Sg1RG" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/responsive/3.0.5/css/responsive.dataTables.min.css" rel="stylesheet" integrity="sha384-kz9bozrCHP/y+wTJV8P+n/dMBOh00rqNmmIAgHckzFWpoSB49V5ornW1aY+uYTyA" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/rowgroup/1.5.2/css/rowGroup.dataTables.min.css" rel="stylesheet" integrity="sha384-2NAdExmXbiSJhyJfJuW1pBfkyLCpS4n+S+DwrmjE2MYXaZCdMnhBtLMGPVhaDN56" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.dataTables.min.css" rel="stylesheet" integrity="sha384-DPXqhmKEEv+ihIqmGEcFuMuOgmjc9ljVHonU9qksGu+BpeUsYPH2px4Q5G9AankN" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/scroller/2.4.3/css/scroller.dataTables.min.css" rel="stylesheet" integrity="sha384-iszZFel2EIfnGc1OBSiwLR3BB5TZ27aHIJ1DQx1wqzvo1xzUFFJVsNqNpfobe1GL" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/select/3.0.1/css/select.dataTables.min.css" rel="stylesheet" integrity="sha384-2qDwGwQdn2yNITB/iQdi6ndpHOiV85/tZpowDX3Ge54y67YJc21fjKH6cXhcYSV6" crossorigin="anonymous">
 
    <!--FIN DATATABLES-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--<link href='https://unpkg.com/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>-->

    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    
    <link href='https://cdn.boxicons.com/fonts/transformations.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.css" integrity="sha512-pZE3NzBgokXUM9YLBGQIw99omcxiRdkMhZkz0o7g0VjC0tCFlBUqbcLKUuX8+jfsZgiZNIWFiLuZpLxXoxi53w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

    <title>
      {% block titulo %}
      {% endblock %}
    </title>
  </head>
  <body class="">
    <div style="position: fixed; top: 20px; right: 20px; z-index: 1055; min-width: 300px;">
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mb-2" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <div class="min-vh-100">
      {% block contenido %}
      


      {% endblock %}
           </div>
          <div class="d-flex bg-black w-100 align-items-center justify-content-center position-fixed bottom-0 start-0" style="height: 2rem; z-index: 1030;">
      <p class="text-white m-0">
        &copy; {{ year|default(2024) }} | Desarrollado por <a href="http://sihma.com.ve" class="text-white text-decoration-none">SIHMA C.A.</a>
      </p>
    </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>



   <script src="https://cdn.datatables.net/v/dt/moment-2.29.4/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.js" integrity="sha384-2YbERbKoQqd5W2JA2YXjntFs+kpi/q2rKtUNsNkkzOg1DOM1Z5IqF6BmuG2mbbyk" crossorigin="anonymous"></script>-->

    <!--DATA TABLES-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha384-+mbV2IY1Zk/X1p/nWllGySJSUN8uMs+gUAN10Or95UBH0fpj6GfKgPmgC5EXieXG" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js" integrity="sha384-RZEqG156bBQSxYY9lwjUz/nKVkqYj/QNK9dEjjyJ/EVTO7ndWwk6ZWEkvaKdRm/U" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.min.js" integrity="sha384-W+u8oyKVP+xXIEiQx3Zffi+rKULG3CX+yYaA+Ww6nUjUsL8Pn6fBTE7swLLBtJWQ" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.colVis.min.js" integrity="sha384-v0wzF6NECWiQyIain/Wacl6wEYr6NDJRus6qpckumPIngNI9Zo0sDMon5lBh9Np1" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js" integrity="sha384-+E6fb8f66UPOVDHKlEc1cfguF7DOTQQ70LNUnlbtywZiyoyQWqtrMjfTnWyBlN/Y" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js" integrity="sha384-SbNRDguI7TGChBvvLf/a66MngtndT7TOurCIAwfkiKkzbM/hAsUwaL4MBBOgYWnH" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/colreorder/2.1.1/js/dataTables.colReorder.min.js" integrity="sha384-cAXuXmwuDtZSjfohKzWmKDDgNEaWBHIsrvQFbktFcxemyASB8hwrO1EMl484re7C" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/columncontrol/1.0.7/js/dataTables.columnControl.min.js" integrity="sha384-9MVtbY9U77/ZynNnCwcDfcr/xg8dzWvMvZfgYaR6UFex8DZsZrCzznVTkkmRM3qx" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/datetime/1.5.6/js/dataTables.dateTime.min.js" integrity="sha384-aByWA8MjPplweqHLNX7jHEDMqOZuovBMSXUbGrIeRRRfQUlpPpAmrUeS80nPozt7" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.4/js/dataTables.fixedColumns.min.js" integrity="sha384-pTT0DCmQdJKH1Vz2e0adpu+1Tp4tiIYm+vF6e+b+YAywojOEf3TR2WyIGdICT5Gy" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.3/js/dataTables.fixedHeader.min.js" integrity="sha384-p66x0SWwSmqfafoeNRyHmaay6Z/zGSRc52U3aGc0gaseU1+CiGgSEyNHTM3gfcqg" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.5/js/dataTables.responsive.min.js" integrity="sha384-rX/xvPOvZbMdJ+5bu02AkpJyyp3A8jx433IcgvJAU7QihlzldIv94BoMYOpUqFkN" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.5.2/js/dataTables.rowGroup.min.js" integrity="sha384-OJ7nI6XmBFMMBrJNSMg25cACfOpcNJ8g12/1heK3UYOCoDZ0odREkx4++dKZ9ORq" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.5.0/js/dataTables.rowReorder.min.js" integrity="sha384-xiwUQRasBcDH/VWFi1JXyBwDItoHATDc19Mt/Vz+3Ltg7GsOm6TBoUPfIw5LA1ck" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/scroller/2.4.3/js/dataTables.scroller.min.js" integrity="sha384-nakznh5a15VRD4Q2jpl+vqMjMCL666OX944SaU8OzAaROCqoFwpPRuVzjDt3HR6d" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/select/3.0.1/js/dataTables.select.min.js" integrity="sha384-rJdomZwznaHW2zmRyvbgDRNVWK3XuD1AVsMUn+IVFBOZTW871NIFjfNinziLytgY" crossorigin="anonymous"></script>

    <!-- FIN DATATABLES-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.16.1/sweetalert2.all.min.js" integrity="sha512-xY6WH58rPXt0+5LumlzGmgubLDO+SnuAqjBRO6i1B0VTFFSZR/aXszP6xjdT431rS24D8ztDPVjVPHb3Se9f6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://kit.fontawesome.com/f7568fa31c.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/imask"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/es.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    {% block JS %}
    {% endblock %}
  </body>
</html>
